@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap');

.dark {
    background-color: #333;
color: #fff;
}

.light {
    background-color: #fff;
    color: rgb(10, 6, 6);
}